#root {
  width: 100%;
  margin: 0 auto;
  text-align: left;
  background-color: #fff;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card1 {
  background-color: #eee;
  padding: 3vw;
  border-radius: 2vw;
  width: '100%';
  text-align: 'left';
  font-size: 4vw;
  margin-bottom: 3vw;
}

.card {
  padding: 5vw;
}

.read-the-docs {
  color: #888;
}

.select-container {
  margin-bottom: 3vw;
  font-size: 4vw;
}

.select-container label {
  display: block;
  font-weight: thin;
  margin-bottom: 1vw;
  text-align: left;
}

.react-select__control, .react-select__menu {
  border-radius: 1vw !important; /* Set border radius */
}

.react-datepicker__input-container input {
  text-align: left;
  border: 0 solid #ddd;
  padding: 3vw;
  font-size: 4vw;
}

.react-datepicker {
  border: 2px solid #ccc;
  border-radius: 2vw;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
