#root {
  width: 100%;
  text-align: left;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 5vw;
}

.read-the-docs {
  color: #888;
}

.select-container {
  margin-bottom: 5vw;
  font-size: 4.5vw;
}

.select-container label {
  display: block;
  font-weight: thin;
  margin-bottom: 1vw;
  text-align: left;
}

.react-datepicker__input-container input {
  text-align: left;
  border: 0;
  padding: 3vw;
  font-size: 4vw;
  color: var(--tg-theme-text-color) !important;
  background-color: var(--tg-theme-bg-color) !important;
}

.react-datepicker {
  border: 2px solid #ccc;
  border-radius: 2vw;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Styles for the modal and background blur */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8); /* Semi-transparent black */
  display: flex;
  justify-content: center;
  align-items: flex-start;
  z-index: 1000;
  padding-top: 5vh;
}

.modal {
  color: var(--tg-theme-text-color);
  background: var(--tg-theme-bg-color);
  padding: 5vw;
  border-radius: 2vw;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  max-width: 80vw;
  width: 80vw;
  position: relative;
}

.card1 {
  background: var(--tg-theme-secondary-bg-color);
  padding: 3vw;
  border-radius: 2vw;
  width: '100%';
  text-align: 'left';
  font-size: 4vw;
  margin-bottom: 3vw;
  transition: transform 0.3s;
  cursor: pointer;
}

.card1:hover {
  transform: scale(1.05);
}

.card1:active {
  transform: scale(1);
}

.modal-close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 5vw;
  font-weight: bold;
  color: #333;
  cursor: pointer;
  transition: color 0.2s;
}

.modal-close:hover {
  color: red; /* Change color when hovered */
}

/* Styles for the price input */
.price-input-container {
  margin-bottom: 3vw;
}

.price-input-container label {
  font-weight: bold;
  margin-bottom: 5px;
  display: block;
}

.price-input-container input {
  width: 95%;
  padding: 8px;
  font-size: 4vw;
  border-radius: 2vw;
  border: 1px solid #ddd;
}

.card1.has-proposed-price {
  background-color: rgba(0, 255, 0, 0.4); /* Light green background */
}

.select-container input {
  width: 95%;
  padding: 8px;
  font-size: 4vw;
  border-radius: 2vw;
  border: 1px solid #ddd;
}

/* select styles */
.react-select__control {
  border-radius: 2vw !important;
  border-width: 0vw !important;
  background-color: var(--tg-theme-secondary-bg-color) !important;
}

.react-select__menu {
  border-radius: 3vw !important;
  border-width: 0vw !important;
  background-color: var(--tg-theme-secondary-bg-color) !important;
  box-shadow: 0 0 0 0 var(--tg-theme-secondary-bg-color) !important; 
}

.react-select__control--is-focused {
  box-shadow: 0 0 0 0 var(--tg-theme-secondary-bg-color) !important; 
}

.react-select__option--is-selected {
  background-color: var(--tg-theme-button-color) !important;  /* Set the background color of the selected option */
}

input[type="number"] {
  color: var(--tg-theme-text-color);
  background-color: var(--tg-theme-secondary-bg-color);

  border-width: 0;
  box-shadow: 0 0 0 0 var(--tg-theme-secondary-bg-color) !important; 
}
